body{
    background-color: black;
}
h2{
    background-color: #f44611;
}
#naranja{
    color:#f44611;
    font-size :20px;
}
#mostaza{
    color: #F0AB00;
    font-size:20px;
}
#lila{
    color:#6c4675 ;
    font-size:20px;
}
#azul{
    color: #5391C7;
    font-size:20px;
}
#verde{
    color: #00913F;
    font-size:20px;
}

#limon{
    color: #DAF7A6;
    front-size:20px;
}

#azul{
    color: #91C6C4;
    front-size:20px;
}

#rosita{
    color:#E587D4;
    front-size:20px;
}
#rojizo{
    color:#DB3856;
    front-size:20px;
}